li {
    list-style: none;
    font-size: 20px;
    padding-left: 20px;
}

li:before {
    content:"■";
    font-size:30px;
    color: #006666;
    vertical-align:middle;
    line-height:40px;
}


ul:before {
    content:"■";
    font-size:30px;
    color: #006666;
    vertical-align:middle;
    line-height:40px;
}

input[type="text"] {
    width: 200px;
}

.button {
    background-color: #4c6eaf;
    border: none;
    color: white;
    padding: 15px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
}


